[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
WorkingDirectory=/home/dio/tools/sasha
EnvironmentFile=/home/dio/tools/sasha/.env
ExecStart=/home/dio/tools/sasha/target/debug/sasha-daemon
Restart=on-failure

; StandardOutput=append:/home/dio/.local/state/sasha/sasha.log
; StandardError=append:/home/dio/.local/state/sasha/sasha.log
